.name{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    font-style: oblique;
}

input[type=text]{
    width: 27%;
    margin-left: 35%;
    height: 2em;
    background-color: greenyellow;
    font-weight: bolder;
    padding-left: 1em;
    font-size: larger;
}

.button {
    background-color: purple;
    margin-left: 40%;
    width: 7em;
    height: 2em;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 5em;
    
  }

  .image{
      background-image: url(https://github.com/yaggya01/WEEK-OF-CODE-FINAL/blob/master/devjam%20proj/sts.PNG?raw=true);
      background-repeat: no-repeat;
      background-size: cover;
  }

  .img2{
    background-size: auto;
    width: 180px;
    height:180px;
    border-radius: 50%;
    opacity: 0.8;
} 
.img2 {
  
  
    position: relative;
    animation-name: example2;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes example2 {
    0%   { left:1200px; top:250px;}
    50%  { left:600px; top:0px;}
    100%  { left:0px; top:250px;}
    
  }

.img3{
    background-size: auto;
    width: 180px;
    height:180px;
    border-radius: 50%;
    opacity: 0.8;

    position: relative;
    animation-name: example3;
    animation-duration: 7.5s;
    animation-timing-function: linear;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes example3{
    0%   { left:0px; top:50px;}
    50%  { left:300px; top:500px;}
    100%  { left:800px; top:700px;}
}
